# Ignore common compiled artifacts.
*~
*.o
lib*.a
/breakpad.pc
/breakpad-client.pc

# Ignore autotools generated artifacts.
.deps
.dirstamp
stamp-h1
Makefile.in
ltmain.sh
libtool
*.lo
*.la
install-sh
depcomp
config.guess
config.h
config.log
config.status
config.sub
config.cache
configure
*/.deps
autom4te*
aclocal.m4
bpwrapper.pc
compile
config.h.in
missing
.libs
Makefile
/m4

# Ignore compiled Python files.
*.pyc


# compibled binraies
testbp

# minidump symbols and dumps
*.dmp
*.syms
tests/test-bpwrapper
/symbols
